.topspacing{
    /*margin-top: 50px;*/
}

.textbody{
    font-size: larger;
    line-height: 50px;
}


.panel-title a {
    margin-top: -5px;
}

.hrLoginUp
{
    position:relative;
    border-top:2px solid #afc0dc;
//margin-top: 5px;
    left:-10px;
//right:-10px;
    width :248px;
    top:40px;
}
.hrLoginDown
{
    position:relative;
    border-top:2px solid #afc0dc;
//margin-top: 5px;
    left:-10px;
//right:-10px;
    width :248px;
    top:-120px;
}


.imghhcp{

}

.hhcpoptionselect{
    text-align: center;
}

.custom_ul li{
    line-height: 50px !important;
    list-style-type: none;
}

.step_ul li {
    /*content: "\f138 ";*/
    /*font-family: FontAwesome;*/
    line-height: 50px !important;
    /*list-style: outside none none;*/
}



.btn-enorme{
    padding: 27px 58px !important;
    font-size: 14px !important;
}


.modal-sm{
    width: 40%;
}

.glossary {
    color: green;
    font-weight: 900;
}

.wizardbkg{
    background-color: #d8d9ed;
    padding: 13px;
    margin-bottom: 20px;
}

.intro p {
    font-size: 23px;
    line-height: 30px;
    padding-bottom: 23px;
}

.switch {
    background-size: cover;
    height: 300px;
    text-align: center;
    /*width: 600px;*/
    background-color: white;
}

.cellac2 {
    background-image: url("../images/cerchio_giallo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
    width: 50%;
}

.cellae2 {
    background-image: url("../images/cerchio_verde.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
    width: 50%;
}

.switchframe {
    padding: 40px;
    font-size: 20px;
    line-height: 23px;
}

.switch_space {
    height: 66px;
}


.btn-wizard-giallo {
    background-color: #FFBF00 !important;
    color: black !important;
    width: 200px;
    height: 50px;
}

.btn-wizard-azzurro {
    background-color: #73B9FF !important;
    color: black !important;
    width: 200px;
    height: 50px;
}

.btn-wizard-verde {
    background-color: #85B200 !important;
    color: black !important;
    width: 200px;
    height: 50px;
}

#mappa svg {
    min-height: 600px;
}
